@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville,);


body{
    font-family: "Libre Baskerville", "Book Antiqua", serif;
    text-rendering: optimizelegibility;
}

.header-container h1 {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size-adjust: .8;
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-weight: 700;
}

.header-container h1 {
    color: inherit;
}

a {
    color: #444;
}

.floatLeft {
    float: left;
}

/*
pseudo-element applies rules to the portion of a document that has been highlighted
*/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.bodyImage {
    background: url("../img/pmbohmWater.jpg") #5098bf 0 -50px no-repeat fixed;
    /*background-position: bottom right, left, right;*/
    background-size: 100% auto;
    background-blend-mode: darken, luminosity;


}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--back {
    /*transform: translateZ(2px) scale(2);*/
    transform: translateY(-5em) scale(1.2);
}

.header-container header{
    background-color: #fff;
}

.header-container header,
.main-container .main{
    padding-left: 30px;
    padding-right: 30px;
}




nav ul, nav ol {
    font-family: "Helvetica";
}

.main-container .main,
.main aside {
    background-color: rgba(119, 181, 215, 0.95);
}

.main aside {
    border-radius: .5em;
    background-color: white;
}
