@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville,);

/*

 The colour palette used in this css
http://paletton.com/#uid=13t0u0kjDE+9iUue+N7nHx-tnua

*/
body {
    font-family: "Libre Baskerville", "Book Antiqua", serif;
    text-rendering: optimizelegibility;
    background-color: #5098bf;
}

h1, h2, h3, h4 {
    color: #fff;
    font-family: "Oswald", sans-serif;
}

.header-container header h1,
.header-container header h2 {
    color: darkorange;
}

/* gradient cross browser brute force hack */
h2 span {
    background: url(../img/white-gradient.png) repeat-x;
    position: absolute;
    display: block;
    height: 38px;
}

@media only screen and (min-width: 300px) {
    .header-container header h1 {
        font-size: 36px;
        margin-bottom: 0;
    }
    .header-container header h2 {
        font-size: 24px;
        margin: .2em 0;
    }
    h2 span {
        width: 360px;
    }

}

@media only screen and (min-width: 768px) {
    .header-container header h1 {
        font-size: 50px;
        margin-bottom: .2em;
    }
    .header-container header h2 {
        font-size: 29px;
        margin-top: .5em;
    }
    h2 span {
        width: 500px;
        margin-top: -2px;
    }
}

#IMOSLogo {
    background: url("http://static.emii.org.au/images/logo/IMOS-Ocean-Portal-logo.png");
}

a {
    color: #444;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/*
pseudo-element applies rules to the portion of a document that has been highlighted
*/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 Parallax backgrounds
*/

.paraContainer {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.paraItem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.paraBase {
    transform: translateY(0);
}

div[class^="paraBackground"] {
    transform: translateY(-20px) scale(1.05);
}

.paraBackground1 {
    background-color: #5098bf;
    background: url("../img/pmbohmWater.jpg") 0 0 no-repeat fixed;
    background-size: 100% auto;
}

.header-container header {
    background-color: #fff;
}

.header-container header,
.footer-container footer,
.main-container .main {
    padding-left: 30px;
    padding-right: 30px;
}

nav ul, nav ol {
    font-family: "Helvetica", sans-serif;
}

.main-container .main,
.main aside {
    background-color: rgba(119, 181, 215, 0.98);
}

.main aside {
    border-radius: .5em;
    background-color: #ABD5EC;
}

.footer-container {
    background-color: #146A99;
}

.footer-container footer {
    background-color: rgba(119, 181, 215, 0.5);

}
