@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville,);


body{
    font-family: "Libre Baskerville,";
}

.header-container h1 {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size-adjust: .8;
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-rendering: optimizelegibility;
}

.header-container h1 {
    color: inherit;
}

a {
    color: #444;
}

.floatLeft {
    float: left;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {

    background: url("../img/pmbohmWater.jpg") #5098bf repeat-y fixed;
    /*background-position: bottom right, left, right;*/

    background-size: 110% auto;
    background-blend-mode: darken, luminosity;
}

.header-container header{
    background-color: #fff;
}

.header-container header,
.main-container .main{
    padding-left: 30px;
    padding-right: 30px;
}

nav ul, nav ol {
    font-family: "Helvetica";
}

.main-container .main,
.main aside {
    background-color: rgba(119, 181, 215, 0.95);
}

.main aside {
    border-radius: .5em;
}
