@import url(http://fonts.googleapis.com/css?family=Oswald);

html, body {
    height: 100%;
    background-color: #666;
}

/*
The colour palette used in this css  #428bca
http://paletton.com/#uid=13t0u0kjDE+9iUue+N7nHx-tnua
*/

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

div.mapImage img {
    border-radius: 6px;
    box-shadow: 0 4px 5px 1px #D1D1D1;
    padding: 15px 2px;
    color: #fff /* hide the alt tag */
}

.pager li > a, .pager li > span {
    border-radius: 5px;
    border: none;
    background: none;
}

.pager .previous > a, .pager .previous > span {
    margin-right: 5px;
}

.pager li > span {
    border: 0;
    padding: 5px 0 0 0;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.modal-backdrop {
    background-color: #eee;
}

.checkbox-inline {
    font-size: small;
    color: #428bca;
}

.mini-nav > li > a {
    padding: 5px;
    font-size: small;
}

.mapNavbar {
    padding: 5px 0;
    min-height: inherit;
}

.pagerMargins {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif;
}

.highlightedHeader {
    font-style: italic;
}

.whiteWrapper {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.jumbotron {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.jumbotron .highlightedHeader {
    color: black;
}

.jumbotron, .jumbotronFooter, .jumbotronNav {
    background-color: #666;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron a.homelink {
    color: inherit;
    margin: 0;
}

.jumbotronFooter {
    color: white;
    margin-bottom: 30px;
    padding: 50px 15px;
    padding-bottom: 70px;
    font-size: 12px;
}

.jumbotron p {
    margin-bottom: 0;
}

.jumbotronFooter a {
    color: #ccc;
}

#IMOSLogo {
    margin-right: 40px;
}

ul.arrowed li:before {
    content: "►";
    font-size: .7em;
    margin-top: .3em;
    display: block;
    float: left;
    width: 1.2em;
    color: #999;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.displayNone {
    display: none;
}

.imagesInsideFloatRight article {
    clear: both;
}

.imagesInsideFloatRight img {
    float: right;
    margin: 10px;
}

dt {
    margin-top: 20px;
    font-size: 1.4em;
}

article {
    margin-bottom: 3em;
}

.inlineButton {
    margin-left: 30px;
}

a.anchor:after {
    content: " [?] ";
    margin: 3px 0;
    text-decoration: none;
}

.modal-dialog {
    margin: 20px;
    width: inherit;
}

.modal-body {
    overflow: hidden;
}

.jumbotronNav .navbar a + a:before {
    content: " | ";
    margin-right: 10px;
    text-decoration: none;
}

.jumbotronNav .navbar-ocheader {
    background-color: #428CCA;
    margin: 10px 0;
    border: 0;
}

.jumbotronNav .navbar-ocheader .navbar-nav > li > a {
    color: white;
}

.navbar-ocheader .navbar-nav > li > a:hover {
    color: #404040;
}

.miniHeader {
    padding-left: 15px;
}

.miniHeader h3  {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.miniHeader img  {
    height: 40px;
}

/* accordians */
.panel-heading {
    cursor: pointer;
}

.popover {
    max-width: none;
    overflow: auto;
}

